
*.log
Domesticate-Hell/Temp/UnityLockfile
Domesticate-Hell/Library
Domesticate-Hell/.vs/Domesticate-Hell/v15/Server/sqlite3/storage.ide
Domesticate-Hell/.vs/Domesticate-Hell/v15/Server/sqlite3/storage.ide-shm
Domesticate-Hell/.vs/Domesticate-Hell/v15/Server/sqlite3/storage.ide-wal
*.ide-shm
*.ide-wal
*.ide-shm
*.ide-wal
*.ide-shm
*.ide-wal
