
*.log
Domesticate-Hell/Temp/UnityLockfile
Domesticate-Hell/Library/shadercompiler-UnityShaderCompiler.exe0.log
Domesticate-Hell/.vs/Domesticate-Hell/v15/Server/sqlite3/storage.ide
Domesticate-Hell/.vs/Domesticate-Hell/v15/Server/sqlite3/storage.ide-shm
Domesticate-Hell/.vs/Domesticate-Hell/v15/Server/sqlite3/storage.ide-wal
Domesticate-Hell/Library/shadercompiler-UnityShaderCompiler.exe0.log
